.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;

    overflow-y: auto;
}

.gallery > * {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: var(--bg-secondary);
}

.gallery > * > .interactions {
    position: absolute;

    bottom: 0;
    width: 100%;

}

.interactions {
    display: inline-flex;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: row;
    opacity: 0;
    transition: opacity 50ms ease-in-out;
}

.gallery > *:hover > .interactions {
    opacity: 1;
}

.interactions > * {
    margin: 0.25rem;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.gallery .loading {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.gallery .loading::after {
    content: "";
    position: absolute;
    inset: -50%;

    background: linear-gradient(
        90deg,
        transparent 35%,
        rgba(255, 255, 255, 0.08) 50%,
        transparent 65%
    );

    transform: translateX(-65%);
    animation: shimmer 2s ease-in infinite;
}

@keyframes shimmer {
    from {
        transform: translateX(-65%);
    }
    to {
        transform: translateX(150%);
    }
}