#root {
  display: flex;

  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.menuButton {
  display: none;
}

.navbar {
  display: flex;

  flex-direction: column;
  flex-shrink: 0;

  padding: 10px;

  background-color: var(--bg-secondary);

  width: 100%;

  height: 100px;

  box-sizing: border-box;
}

.navbar * {
  margin: 2px;
}

.content {
  flex: 1;

  overflow-y: auto;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  width: 100%;
  flex: 1;

  padding: 10px;

  background-color: var(--bg-primary);

  overflow-y: auto;
}

.row {
  display: inline-flex;

  flex-direction: row;
}

.row.wrap {
  display: flex;

  flex-wrap: wrap;
}

.row>* {
  flex: 1;
}

.column {
  width: auto;
  height: auto;

  display: inline-flex;

  flex-direction: column;

  flex: 1;
}

.column.wrap {
  display: flex;

  flex-wrap: wrap;
}

.column>* {
  flex: 1;
}

.content>.item img {
  width: 100%;
  height: auto;
}

.white-space {
  width: 67%;
}

.navbar > .account {
  height: 100%;
  aspect-ratio: 1;

  box-sizing: border-box;

  flex: 0;
}

.navbar > .account > .avatar {
  height: 100%;
  aspect-ratio: 1;

  background: none;
  border: none;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.account img {
  height: 100%;
  aspect-ratio: 1;
  
  padding: 0;
  padding: 10%;

  box-sizing: border-box;

  border-radius: 50%;

  background-repeat: no-repeat;
  background-size: cover;
}