#root {
  display: flex;

  flex-direction: row;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.menuButton {
  display: none;
}

.navbar {
  display: flex;

  flex-direction: column;

  min-width: auto;
  flex-shrink: 0;

  padding: 10px;

  background-color: var(--bg-secondary);

  width: 221px;
}

.navbar * {
  margin: 2px;
}

.content {
  flex: 1;
  
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  width: 100%;
  flex: 1;

  padding: 10px;

  background-color: var(--bg-primary);
}

.row {
  width: 100%;

  height: fit-content;

  display: inline-flex;

  flex-direction: row;
}

.row.wrap {
  display: flex;

  height: auto;
}

.wrap {
  flex-wrap: wrap;
}

.row > * {
  flex: 1;
}

.content > .item img {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .menuButton {
    display: block;

    position: fixed;
    bottom: 10px;
    left: 10px;

    z-index: 1000;

    filter: drop-shadow(0 0 2px black);
  }

  .navbar {
    display: none;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    position: absolute;
  }

  .navbar.open {
    display: flex;
  }
}