.gallery {
    margin: 20px;
    overflow-y: auto;
}

.gallery-item {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

@media (max-width: 1200px) {
    .gallery-item {
        width: 33.333%;
    }
}

@media (max-width: 800px) {
    .gallery-item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .gallery-item {
        width: 100%;
    }
}